*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background-color: aqua; */
    background: url("https://timviec365.vn/pictures/images_03_2021/sinh-vien-co-nen-di-lam-them%20(9).jpg");
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 30px;
    color:#00008B;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color:#00008B;
    font-size: 18px;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox i{
    position:absolute;
    right: 8px;
    color:#00008B;
    top: 20px;
    font-size: 1.2em;
}
.forget .help{
    float: right;
}
.forget a{
    font-size: 17px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #00008B;
    position: relative;
}
.forget a::after{
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #A9A9A9;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
}
.forget a:hover::after{
    transform: scaleX(1);
}
.button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;

    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.button:hover{
    background-color: orange;
    color: white;
}
span{
    color: #00008B;
    font-size: 17px;
}
p{
    font-size: 17px ;
    color: red;
    margin-top: -21px;
}
#remember_me{
    margin-left: 81px;
}
.forget{
    margin-bottom: 10px;
}

